<div class="no--cakes" *ngIf="noData">
    <img src="\assets\nodata.png " height="350px" width="350px" alt="no data found">
</div>

<div class="order" *ngIf="!noData">
    <button routerLink="/placeorder" >Order</button>
    <div class="total">Total:  {{total}} Rs.</div>
    <div class="heading">
        <div>S.No.</div>
        <div>cake</div>
        <div>Quantity</div>
        <div>Price</div>
        <div>Remove</div>

    </div>
    <div class="item" *ngFor="let item of items,index as i">
        <div>{{i+1}}</div>
        <img src={{item.image}} height="80px" width="80px">
        <div>{{item.quantity}}</div>
        <div>{{item.price}} Rs.</div>
        <button (click)="removeFromCart(item)">Remove</button>

    </div>
</div>