<div class="cake--details">
    <div class="image">
        <img src={{cake.image}} height="100vh" width="100vh">
    </div>
    <div class="details">
        <div class="name">{{cake.name.toUpperCase()}}</div>
        <div class="rating">{{cake.ratings}} Ratings</div>
        <div class="review">{{cake.reviews}} Reviews</div>
        <div class="price">{{cake.price|currency:"INR"}}</div>
        <!-- <div class="flavour">flavour:{{cake.name}}</div> -->
        <div class="desc">{{cake.description}}</div>
        <div class="desc">{{cake.ingredients}}</div>
        <div class="type"><span>Occasion:</span>{{cake.type}}</div>
        <!-- <div class="weight"> weight : {{cake[0].weight}}</div> -->
        <button (click)="addToCart(cake)" type="submit">Add to Cart</button> 
    </div>


</div>