.cake--details{
    background-color:  #f8ab9336;
    font-size: 20px;
    width: 70%;
    margin: 40px auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    border-radius: 4px;
    height: 500px;

}

.image>img {
    width:20vw;
    height: 50vh;
    align-content: center;
    justify-content: center;
    /* object-fit: cover; */
}
.image>img:hover {
    
    box-shadow:5px 10px rgba(255, 0, 0, 0.493);
    border-radius: 10px;

}
.details{
    display: flex;
    flex-direction: column;
    
}
.details>div{
    padding: 5px;

}
button[type=submit]{
    width:30%;
    margin: auto;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(219, 61, 100);
    border:none
}

button[type=submit]:hover{
    background-color: #610410ad;
    
}.name{
    font-size: 2em;
}
