*{
    box-sizing:border-box ;
    margin: 0px;
    padding: 0px;
}
.navbar{
    position:sticky;
}
.container-fluid{
    background-color: #660022;
    padding: 15px 30px;
    
    
    
}

/* .nav-home{
    padding: 0px 20px;
    color:#ffffff;
    font-weight: 400;
    background-color: antiquewhite;

} */

.btn-outline-success{
    /* background-color: #b3003b; */
    
    border: burlywood;
    color: white;
    padding: 5px 10px;
    font-size: 1em;
    height: 50px;
    
}
.btn-outline-success:hover{
    background-color: #b3003b;
    /* width: 40px; */
    
}
   
.navbar-brand{
    font-size: 30px;
    font-family:cursive;
    color:#fff
}
.navbar-brand:hover{
    color: antiquewhite;
    font-size: 35px;
}
.search-btn{

        color: #fff;
        margin: 0px 20px;
        padding: 0px 20px
    
   
}
.search-btn:hover{
    background-color: #b3003b;
    /* padding: 0px 5px; */
    

}

.btn--cart{
    
    border-radius: 2px;
    /* background-color: #b3003b; */
    padding: 5px 20px;
    
   
    color: #fff;
    margin: 0px  20px;
}
.btn--cart:hover{
    background-color: #b3003b;
    /* padding: 0px 5px */


}