*{
    box-sizing:border-box ;
    margin: 0px;
    padding: 0px;
}
.navbar{
    position:sticky;
}
.container-fluid{
    background-color: #660022;
    padding: 20px 40px;
    
    
}



.btn-outline-success{
    /* background-color: #b3003b; */
    
    border: burlywood;
    color: white;
    padding: 5px 10px;
    font-size: 1em;
    height: 50px;
    
}
.btn-outline-success:hover{
    background-color: #b3003b;
    padding: 0px 20px;
    
}
   
.navbar-brand{
    font-size: 30px;
    font-family:cursive;
    color:#fff
}
.navbar-brand:hover{
    color: antiquewhite;
    font-size: 35px;
}
.search-btn{

        color: #fff;
        margin: 0px 20px;
        padding: 0px 20px
    
   
}
.search-btn:hover{
    background-color: #b3003b;
    padding: 0px 30px;
    

}

.btn--cart{
    
    border-radius: 2px;
    /* background-color: #b3003b; */
    
   
    color: #fff;
    margin: 0px  20px;
}
.btn--cart:hover{
    background-color: #b3003b;
    padding: 0px 30px


}