<!-- <div class="add--user">
    <h1>Add User</h1>
    <form>
        <label appHighlight enterColor="red" leaveColor="black" [colors]="user.name">Name</label>
        <input [(ngModel)]="user.name" name="username" type="text" placeholder="Enter name">
        <label>Email</label>

        <input [(ngModel)]="user.email" name="useremail" type="text" placeholder="Enter Email">
        <label>Image</label>
        <input [(ngModel)]="user.image" name="userimage" type="text" placeholder="Enter source" >
        <button (click)=add()>Add</button>
    </form>
</div> -->
