*{
    margin:0px;
    box-sizing: border-box;
    padding: 0px;
}

.order{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 235, 215);
    border: black 2px solid;
    padding: 20px 50px 20px 70px;
    
}
.head{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #fff;
    
    

}
.head>div{
    font-size: 2em;
    font-weight: 2em;
}

.itemm{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.itemm>div{
    padding: 10px 0px
}

.hidden{
    display: none;
}
.itemm:nth-child(odd){
    background-color: azure;
}


button{
    background-color: brown;
    border-radius: 3px;
    color: #fff;
    border:none;
    padding: 4px;
}
.detail{
    
}
.each-detail{
    display:flex;
    border-radius: 2px;
    border:rgb(14, 0, 0) 2px dashed
}
