<!--
<div class="order">

    <h1>My Orders</h1>
    <div class="heading">
        <div>S.No.</div>
        <div>Owner name</div>
        <div>cake ID</div>
        <div>Order Date</div>
        <div>Price</div>
        <div>Details</div>
    </div>
    <div class="item" *ngFor="let orderDetail of orderDetails,index as i">
    <div>{{i+1}}</div>
    <div>{{orderDetail.name}}</div>
    <div>{{orderDetail.orderid}}</div>
    <div>{{orderDetail.orderdate}}</div>
    <div>{{orderDetail.price}}</div>
    
    <div><button (click)="showDetail(i)">Details</button></div>
    <div class="detail" *ngFor="let orderDetail of orderDetails ,index as i">
    
        <div *ngFor="let eachCake of orderDetail.cakes">
            <div>{{eachCake.quantity}}</div>
            <div>{{eachCake.cakeid}}</div>
            <img src={{eachCake.image}} height="40px" width="60px">
        
        
        </div>
 </div>



   

</div>


 -->



<div class="order">
    <div class="head">
        <div>S.No.</div>
        <div>Name</div>
        <div>Order ID</div>
        <div>Date</div>
        <div>Details</div>
    </div>
    <div class="itemm" *ngFor="let orderDetail of orderDetails,index as i">

        <div>{{i+1}}.</div>
        <div>{{orderDetail.name}}</div>
        <div>{{orderDetail.orderid}}</div>
        <div>{{orderDetail.orderdate}}</div>
        <div><button (click)="showDetail(i)">Details</button></div>

        <div class="detail hidden"  id=id{{i}}>

            
            <!-- <button (click)="hide(i)" class="hidebtn" *ngIf="toggle">Hide Details</button> -->
                
         <div  *ngFor="let eachCake of orderDetail.cakes" class="each-detail">

                <div>
                <div>{{eachCake.name}}</div>

                <img src={{eachCake.image}} height="60px" width="80px">

                <div>{{eachCake.quantity}}Pcs</div>
                <div>{{eachCake.price}}Rs.</div>
</div>
        
                <!-- <div>{{eachCake.email}}</div> -->



            </div>


        </div>



    </div>
</div>