.container{
    display: flex;
     justify-content: center;
    margin: 50px auto;
    width: 50%;

    
    

}
form{
    background-color: rgba(222, 177, 135, 0.404);
    border-radius: 5px;
    padding: 40px;
}
form > div{
   
    padding: 10px; 


}
form>button{
    background-color: crimson;
    border-radius: 2px;
    border:none;
    

}























