


<div class="no--cakes" *ngIf="!cakescard"><img src="\assets\nodata.png " height="400px" width="400px" alt="no data found"></div>
<div class="cake--container">
  <div (click)="getcakeid(eachCake)" *ngFor="let eachCake of cakescard" appHighlight 
    class="card" style="width: 18rem;">
    <div class="cake--img">
      <img src={{eachCake.image}} class="card-img-top" alt="..." height="250px" >
    </div>
    <div class="card-body">
      <p class="card-text">{{eachCake.name}}</p>
     
      <p class="card-text">{{eachCake.price}}Rs.</p>
    </div>
  </div>
</div>