.cake--container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* border:rgb(241, 191, 124) 2px solid; */
    padding: 30px 20px;
    grid-row-gap: 20px;
    ;
    
    
}
.cake--container>cake{
    padding: 20px;
}
.enter{
    border-radius: 4px;
    background:#ffe6e6;
    /* box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05); */
      transition: .3s transform cubic-bezier(.155,.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}
/* .leave{
    /*  */


.veg{
    
    margin: auto;

}   

.non--veg{
    margin:auto
}
.square{
    position: relative;
    border: 1px green solid;
    height:20px;
    width: 20px;
    
}
.circle{
    position:absolute;
    top:5px;
    right:5px;
    height: 10px;
    width: 10px;

background-color: green;
    border-radius: 50%;
  
}

.square--nonveg{
    position: relative;
    border: 1px red solid;
    height:20px;
    width: 20px;


}

.circle--nonveg{
    position:absolute;
    top:5px;
    right:5px;
    height: 10px;
    width: 10px;

background-color:red;
    border-radius: 50%;
  
}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(222, 177, 135, 0.527);
     margin: 20px 70px;
    height: auto;
    padding: 30px;
    

}
input[type=text]{
    padding: 20px;
    border-radius: 4px;
    border:none;
    margin:0px 20px;
    
}
.filter >button{
    border-radius: 4px;
    border: none;
    background-color: crimson;
    color: #fff;
    font-size: 20px;
}

.filter >button:hover{
  
    background-color:  rgba(220, 20, 60, 0.205);
    color:#000;

}