#sc-password{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin:30px auto;
    gap:10px;
    background-color: cornsilk;
    padding: 50px;
}
h1{
    text-align: center;
}
input[type=submit]{
    background-color: rgb(5, 151, 5);
    border-radius: 5px;
    border:none;
    padding: 10px;
}
input[type=email],input[type=password]{
    padding: 12px;
}
input[type=submit]:hover {
    opacity:0.7;
  }